html{
    background-color: #6d8b89;
    font-family: 'Roboto', sans-serif;
    font-family: 62.5%;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#elefante-btn{
    background-color: #f8f4c4;
    padding: 30px;
    border-radius: 999px;
    border: #a5c3a7 solid 10px;
    max-width: 250px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4c4;
    padding: 50px;
    border-radius: 25px;
    border: #a5c3a7 solid 10px;
}

.container h1{
    font-size: 50px;
    font-weight: 700;
    color: #47667b;
}

.container img{
    height: 200px;
    margin: 20px 0;
    border-radius: 10px;
}

.container button{
    background-color: #c0d1c2;
    border: #6d8b89 solid 5px;
    border-radius: 999px;
    width: 90%;
    padding: 15px;
    cursor: pointer;
    color: #47667b;
}
.container button:active {
    transform: scale(0.95);
}

.container h3{
    color: #47667b;
    font-size: 30px;
    margin-top: 20px;
}

.esconder{
    display: none;
}

@keyframes girar{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.img-elefante.rodar{
    animation: girar 2s linear infinite;
}
